.leftrightstyle:hover {
    color: rgb(0, 0, 0);
    cursor: pointer;
}


.circle {
    height: 90px;
    width: 90px;
    background-color: #bbb;
    border-radius: 50%;
    display: flex;
    text-align: center;
    padding: 13px;
    font-size: 16px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.circleSelected {
    height: 90px;
    width: 90px;
    background-color: rgb(0, 132, 255);
    border-radius: 50%;
    display: flex;
    text-align: center;
    padding: 13px;
    font-size: 16px;
    cursor: pointer;
    color: white;
    align-items: center;
    justify-content: center;
}

.circle:hover {
    background-color: rgb(103, 179, 250);
    color: white;
}